/* ------------------------------
   FARVER   
--------------------------------*/
:root {
  --gold-1: #D9A441;
  --gold-2: #C18E3C;
  --gold-3: #F2C879;

  --wood-1: #A67C52;
  --wood-2: #D3B48C;
  --wood-3: #F5E8D3;

  --kleenex-red: #D43A3A;
  --kleenex-ro: #E65A32;
  --kleenex-orange: #F28F3B;
  --kleenex-gold: #F7C356;

  --text-dark: #3f3f3f;
  --text-muted: #5a5a5a;
  --white: #ffffff;
  --bg-light: #F5E8D3;

  --font-serif: 'Georgia', serif;
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-light);
  color: var(--text-dark);
  line-height: 1.6;
}

/* --------------------------------
   HEADER
----------------------------------*/
header {
  width: 100%;
  background: var(--wood-3);
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-sha
